body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0 2em;
    background: #fff;
    color: #333;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header a {
    color: #000;
}
